    <% layout ('layouts/boilerplate') %>
<div id="nested1-grid-container">
    
    <div id="cluster-map-container">
        <div id="cluster-map"></div>
    </div>
    
            <div id="title-and-button-container">
                <h1>All Campgrounds</h1>
                <a href="/campgrounds/new"class="btn btn-info">Add New Campground</a>
            </div>
            
            
        <div id="paginated">
            <% for (let campground of campgrounds) { %>
                <div class="campground-card-wrapper hidden">
                <!-- <div class="card campground-card shadow bg-body rounded"> -->
                <div class="campground-card">
                    <!-- Logic to display a default image 
                    if a campground does not have any image -->

                    <!-- Wrapping img with flex div -->
                    <div class="campground-card-img-wrapper">
                        <% if (campground.images.length) {%>
                            <img src="<%=campground.images[0].url %>" alt="" >
                            <!-- class="img-fluid"> -->
                        <% } else { %>
                            
                            <!-- Display this img if a campground does not have any images -->
                            <img src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1760748840/No_Image_Available_exlv6b.png" alt="" class="img-fluid">
    
                        <% } %>
                    </div>

                   
                    <h5 class="card-title"><%= campground.title %></h5>

                    <p class="campground-card-text-location">
                                <%= campground.location %>
                    </p>
                    
                    <p class="campground-card-text-description">
                            <%= campground.description.slice(0, 120) %>...
                    </p>
                    
                        
                    <a class="campground-card-btn" href="/campgrounds/<%=campground._id %>" >View Campground
                    </a>
                       
                </div>
                </div>
            <% } %>
        </div>

        <div id="nav-pagination-wrapper">
                <nav aria-label="All campgrounds pages">
                    <ul id="paginationLinksGrid" class="pagination">

                        <li class="page-item" id="paginationStart">
                            <a class="page-link" href="#paginated" aria-label="Move to first page">
                                <span aria-hidden="true">Start</span>
                            </a>
                        </li>

                        <li class="page-item" id="previous10Pages">
                            <a class="page-link" href="#paginated" aria-label="Previous ten pages">
                                <span aria-hidden="true">&laquo; -10</span>
                            </a>
                        </li>

                        <li class="page-item disabled" id="previousPage">
                            <a class="page-link" href="#paginated" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        
                        <li id="pagLink1" class="page-item page active">
                            <a class="page-link" href="#paginated" aria-current="page">1</a>
                        </li>
                        <li id="pagLink2" class="page-item page"><a class="page-link" href="#paginated">2</a></li>
                        <li id="pagLink3" class="page-item page"><a class="page-link" href="#paginated">3</a></li>
                        <li id="pagLink4" class="page-item page"><a class="page-link" href="#paginated">4</a></li>
                        <li id="pagLink5" class="page-item page"><a class="page-link" href="#paginated">5</a></li>
                        <li id="pagLink6" class="page-item page"><a class="page-link" href="#paginated">6</a></li>
                        <li id="pagLink7" class="page-item page"><a class="page-link" href="#paginated">7</a></li>
                        <li id="pagLink8" class="page-item page"><a class="page-link" href="#paginated">8</a></li>
                        <li id="pagLink9" class="page-item page"><a class="page-link" href="#paginated">9</a></li>
                        <li id="pagLink10" class="page-item page"><a class="page-link" href="#paginated">10</a></li>
                        
                        <li class="page-item" id="nextPage">
                            <a class="page-link" href="#paginated" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li class="page-item" id="next10Pages">
                            <a class="page-link" href="#paginated" aria-label="Next ten pages">
                                <span aria-hidden="true">+10 &raquo;</span>
                            </a>
                        </li>

                        <li class="page-item" id="paginationEnd">
                            <a class="page-link" href="#paginated" aria-label="Move to last page">
                                <span aria-hidden="true">End</span>
                            </a>
                        </li>

                    </ul>
                </nav>
        </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
        let totalCamps = <%- count %>;
    </script>
    <script src="/javascripts/clusterMap.js"></script>
    <script src="/javascripts/pagination.js"></script>
