    <% layout ('layouts/boilerplate') %>
<div id="nested1-grid-container">
    <div id="cluster-map-container">
        <div id="cluster-map"></div>
    </div>
    

    <!-- <div class="row"> -->
        <!-- <div class="col-md-6 offset-md-3"> -->
            <div id="title-all-camps">
                <h1>All Campgrounds</h1>
            </div>
            
            <!-- <div class="my-3"> -->
            <div id="button-add-new-camp">
                <a href="/campgrounds/new"class="btn btn-info">Add New Campground</a>
            </div>

        <div id="paginated">
            <% for (let campground of campgrounds) { %>
                <div class="campground-card-wrapper hidden">
                <!-- <div class="card campground-card shadow bg-body rounded"> -->
                <div class="campground-card">
                    <!-- Logic to display a default image 
                    if a campground does not have any image -->

                    <!-- Wrapping img with flex div -->
                    <div class="campground-card-img-wrapper">
                        <% if (campground.images.length) {%>
                            <img src="<%=campground.images[0].url %>" alt="" >
                            <!-- class="img-fluid"> -->
                        <% } else { %>
                            <img src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1729315701/YelpCamp/rpph59cajsqxrfxtzdgb.jpg" alt="" class="img-fluid">
                        <% } %>
                    </div>
                        
                    <div class="campground-card-text-wrapper">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text campground-card-text-description">
                             <%= campground.description.slice(0, 120) %>...
                        </p>
                        <p class="card-text campground-card-text-location">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                    </div>
                    <div class="campground-card-btn-wrapper"> 
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary campground-card-btn">View <%= campground.title %>
                        </a>
                    </div>   
                </div>
                </div>
            <% } %>
        </div>

        <div id="nav-pagination-wrapper">
            <div id="nav-pagination">
                <nav aria-label="All campgrounds pages">
                    <ul class="pagination">
                        <li class="page-item disabled" id="previousPage">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item page active">
                            <a class="page-link" href="#" aria-current="page">1</a>
                        </li>
                        <li class="page-item page"><a class="page-link" href="#">2</a></li>
                        <li class="page-item page"><a class="page-link" href="#">3</a></li>
                        <li class="page-item page"><a class="page-link" href="#">4</a></li>
                        <li class="page-item page"><a class="page-link" href="#">5</a></li>
                        <li class="page-item page"><a class="page-link" href="#">6</a></li>
                        <li class="page-item page"><a class="page-link" href="#">7</a></li>
                        <li class="page-item page"><a class="page-link" href="#">8</a></li>
                        <li class="page-item page"><a class="page-link" href="#">9</a></li>
                        <li class="page-item page"><a class="page-link" href="#">10</a></li>
                        <li class="page-item" id="nextPage">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
        let totalCamps = <%- count %>;
    </script>
    <script src="/javascripts/clusterMap.js"></script>
    <script src="/javascripts/pagination.js"></script>
