    <% layout ('layouts/boilerplate') %>

    <div id="cluster-map"></div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>All Campgrounds</h1>

            <div class="my-3">
                <a href="/campgrounds/new"class="btn btn-info">Add New Campground</a>
            </div>


            <% for (let campground of campgrounds) { %>
                <div class="card mb-5 shadow p-3 mb-5 bg-body rounded">
                    <!-- Logic to display a default image 
                    if a campground does not have any image -->
                    <% if (campground.images.length) {%>
                        <img src="<%=campground.images[0].url %>" alt="" class="img-fluid">
                    <% } else { %>
                        <img src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1729315701/YelpCamp/rpph59cajsqxrfxtzdgb.jpg" alt="" class="img-fluid">
                    <% } %>
                        
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <div class="d-grid">
                            <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">View <%= campground.title %>
                            </a>
                        </div>
                    </div>
                </div>
            <% } %>

            <nav aria-label="All campgrounds pages">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-current="page">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>
    <script src="/javascripts/pagination.js"></script>
