    <% layout ('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <!-- showCamp.css is a stylesheet with a layout (grid and nested flexbox) for different screen sizes -->
    <link rel="stylesheet" href="/stylesheets/show.css">
    
    <div id="containerShowCamp">

            <div id="showCampAuthorTimeTitleLocation">
             
                <div id="showCampAuthorAndTime">
                  <span id="showCampAuthor">Submitted by <%= campground.author.username %></span>
                  <span id="showCampTime">2 days ago</span>
                </div>

                <h1 id="showCampTitle" class="card-title"><%= campground.title %></h1>
                
                <p id="showCampLocation"><%= campground.location %></p>
            </div> 
            <div id="showCamp_pictures">
                  <% if (campground.images.length>0) {%>
                      <div id="campgroundCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    
                            <div id="imgContainerCarousel" class="carousel-inner">
                                <!-- Logic for displaying multiple images for a campground -->
                                <% campground.images.forEach((img, i) =>{ %>
                                  <!-- Only the first image has 'active' class -->
                                  
                                    <div id="imgContainer" class="carousel-item <%= i===0?'active':'' %>">
                                      <div id="showCampImgWrapper">
                                        <img id="campShowImg" src="<%= img.url %>" class="d-block" alt="">
                                      </div>
                                    </div>
                                <% }) %>
                            </div>

                            <% if(campground.images.length > 1){ %>
                                  <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                            <% } %>
                    </div>
                  <% } else { %>
                            
                          <div id="no_img_available_wrapper">
                            <!-- Display this img if a campground does not have any images -->
                              <img id="no_img_available" src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1760748840/No_Image_Available_exlv6b.png" alt="" class="img-fluid">
                          </div>
                  <% } %>
            </div>

            <div id="showCampMapWrapper">
                <div id="showMapBtn">Show on map</div>

                <div id="showHideMap" class="hidden">
                    <div id="map"></div>
                </div>
            </div>
            
            
            <div id="showCampDescriptionWrapper">
                <span id="showCampDescription" class="showCampDescrShort"><%= campground.description %>
                </span>
                <span class="readMore">Read More</span>
            </div>
            
            <div id="showCampPriceWrapper">

                <div id="showPriceBtn">Show price</div>

                <div id="hidePriceWrapper" class="hidden">
                    <div id="showHideCampPriceTaxes" >
                    <span>Price for 1 night</span>
                      <span id="campgroundPrice">
                        CAD<%= campground.price %>
                      </span>
                      <span id="campgroundTax">
                        + CAD<%= Math.ceil(campground.price*0.18) %> taxes and fees
                      </span>
                    </div>
                </div>
            </div>
            
 
            <div id="showCampUpdateDeleteBtnsWrapper">

              <% if (currentUser && campground.author.equals(currentUser._id)){ %>
                  <div id="showCampUpdateDeleteBtn">
                      <a id="showCampEditBtn" href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">
                        <svg class="writingPenSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                        Edit Campground
                      </a>

                      <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button id="showCampDeleteBtn" class="btn btn-danger">
                          <svg class="deleteSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                          </svg>
                          Delete Campground
                        </button>
                      </form>
                  </div>

              <% } %>

            </div>

            
        <!-- Campground Review Form + reviews  -->
         
        <div id="campReview">

          <% if (currentUser) { %>
            <div id="reviewForm">
              <div class="h2Wrapper"><h2>Leave a Review</h2></div> 
              <form class="validated-form" novalidate action="/campgrounds/<%= campground._id %>/reviews" method="POST">

                <div id="starabilityWrapper" class="mb-3">
                  <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input checked="checked" type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                
                
                  <label for="body" class="form-label">Review Text:</label>
                  <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required placeholder="Please enter your review here..." ></textarea>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide campground review.
                  </div>
                

                <button id="addReviewBtn">
                  <svg class="writingPenSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                  </svg>
                  Add Review
                </button>

              </form>
            </div>
          <% } %>

            <div id="allCampReviews">
              <h2><%= campground.title %> Reviews</h2>
              <% if(campground.reviews.length===0) { %>
                <p id="noReviews">Sorry, no reviews... 🤔</p>
              <% } %> 
            <% for (let review of campground.reviews) { %>

                  

                        <div class="reviewWrapper">

                            <p class="reviewAuthor">
                              <%= review.author.username %>
                            </p>
                            
                            <p class="starability-result" 
                            data-rating="<%= review.rating %>">
                                  Rated: <%= review.rating %>
                            </p>
                            
                            <p class="reviewText"><%= review.body %></p>

                            <!-- Display this form (Delete review button) only for a user who is an author of a review -->
                             <% if(currentUser && review.author.equals(currentUser._id)){ %>
                            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                              <button class="deleteReviewBtn">
                                <svg class="deleteSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                  </svg>
                                Delete Review
                              </button>
                            </form>
                            <% } %>
                      
                        </div>
                  

            <% } %>
          </div>

        </div>

    </div>
    <script>
      const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
      const campground = <%- JSON.stringify(campground) %>;
    </script>

    <script src="/javascripts/showPageMap.js"></script>
    <script src="/javascripts/show.js "></script>

    

    

    


